<!--<ul class="categories list-unstyled">
    <li class="has-dropdown">
      <i class="uil-estate fa-fw"></i><a href="/dashboard"> Tableau de board</a>
    </li>
    <li class="">
      <i class="uil-folder"></i><a href="/connexion/ajouterip"> Ajouter adresse IP</a>
    </li>
    <li class="">
      <i class="uil-folder"></i><a href="/connexion/ajouterutilisateur"> Ajouter Utilisateur</a>
    </li>
    <li class="">
      <i class="uil-folder"></i><a href="/logout"> Deconnexion</a>
    </li>
    <li class="has-dropdown">
      <i class="uil-calendar-alt"></i><a href="#"> Calender</a>
      <ul class="sidebar-dropdown list-unstyled">
        <li><a href="#">Lorem ipsum</a></li>
        <li><a href="#">ipsum dolor</a></li>
        <li><a href="#">dolor ipsum</a></li>
        <li><a href="#">amet consectetur</a></li>
        <li><a href="#">ipsum dolor sit</a></li>
      </ul>
    </li>
    <li class="has-dropdown">
      <i class="uil-envelope-download fa-fw"></i><a href="#"> Mailbox</a>
      <ul class="sidebar-dropdown list-unstyled">
        <li><a href="#">Lorem ipsum</a></li>
        <li><a href="#">ipsum dolor</a></li>
        <li><a href="#">dolor ipsum</a></li>
        <li><a href="#">amet consectetur</a></li>
        <li><a href="#">ipsum dolor sit</a></li>
      </ul>
    </li>
    <li class="has-dropdown">
      <i class="uil-shopping-cart-alt"></i><a href="#"> Ecommerce</a>
      <ul class="sidebar-dropdown list-unstyled">
        <li><a href="#">Lorem ipsum</a></li>
        <li><a href="#">ipsum dolor</a></li>
        <li><a href="#">dolor ipsum</a></li>
        <li><a href="#">amet consectetur</a></li>
        <li><a href="#">ipsum dolor sit</a></li>
      </ul>
    </li>
    <li class="has-dropdown">
      <i ></i><a href="#"> Projects</a>
      <ul class="sidebar-dropdown list-unstyled">
        <li><a href="#">Lorem ipsum</a></li>
        <li><a href="#">ipsum dolor</a></li>
        <li><a href="#">dolor ipsum</a></li>
        <li><a href="#">amet consectetur</a></li>
        <li><a href="/logout">Deconnexion</a></li>
      </ul>
    </li>
    <li class="has-dropdown">
      <i class="uil-chart-pie-alt"></i><a href="#"> Components</a>
      <ul class="sidebar-dropdown list-unstyled">
        <li><a href="#">Lorem ipsum</a></li>
        <li><a href="#">ipsum dolor</a></li>
        <li><a href="#">dolor ipsum</a></li>
        <li><a href="#">amet consectetur</a></li>
        <li><a href="#">ipsum dolor sit</a></li>
      </ul>
    </li>
    <li class="">
      <i class="uil-map-marker"></i><a href="#"> Maps</a>
    </li>
  </ul> -->
<!--
  <ul class="list-unstyled">
    <li class="">
      <a href="/dashboard"> Tableau de Bord <i class="fa fa-home" style="color:white" aria-hidden="true"></i></a>
  </li>
    <li class="">
        <a href="/connexion/ajouterip"> Ajouter adresse IP</a>
    </li>
    <li class="">
        <i class="uil-folder"></i><a href="/connexion/ajouterutilisateur"> Ajouter Utilisateur</a>
    </li>
    <li class="">
        <i class="uil-folder"></i><a href="/logout"> Deconnexion</a>
    </li>
</ul> -->

<button id="sidebarToggle" class="btn btn-outline-success d-sm-block d-md-none d-lg-none">
  MENU
</button>
<aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left  d-none d-sm-block" id="show-side-navigation1">
  <i class="uil-bars close-aside d-md-none d-lg-none" data-close="show-side-navigation1"></i>
  <div class="sidebar-header d-flex justify-content-center align-items-center px-3 py-4">
    <img
         class="rounded-pill img-fluid"
         width="65"
         src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907008/medium/1501685726/enhance"
         alt="">
    <div class="ms-2">
      <h5 class="fs-6 mb-0">
        <a class="text-decoration-none" href="#">Bienvenu {{user.username}}</a>
      </h5>
      <p class="mt-1 mb-0">Notre application de monitoring des points d'accès. Bienvenu {{user.username}}</p>
    </div>
  </div>

  <div class="search position-relative text-center px-4 py-3 mt-2">
    <input type="text" class="form-control w-100 border-0 bg-transparent" placeholder="Search here">
    <i class="fa fa-search position-absolute d-block fs-6"></i>
  </div>



<ul class="list-unstyled d-md-block d-lg-block"> <!-- Added responsive classes -->
  <li class="">
      <a href="/dashboard"> Tableau de Bord <i class="fa fa-home" style="color:white" aria-hidden="true"></i></a>
  </li>
  <li class="">
      <a href="/connexion/ajouterip"> Ajouter adresse IP</a>
  </li>
  <li class="">
      <i class="uil-folder"></i><a href="/connexion/ajouterutilisateur"> Ajouter Utilisateur</a>
  </li>
  <li class="">
    <i class="uil-folder"></i><a href="/connexion/utilisateurs"> Les utilisateurs</a>
</li>
  <li class="">
      <i class="uil-folder"></i><a href="/logout"> Deconnexion</a>
  </li>
</ul>

</aside>

<!--Code JS de la sidebarre pour l'afficher et le fermer-->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Get the button, sidebar, and close-aside icon elements
    var sidebarToggle = document.getElementById("sidebarToggle");
    var sidebar = document.getElementById("show-side-navigation1");
    var closeAside = document.querySelector(".close-aside");

    // Function to toggle the sidebar visibility
    function toggleSidebar() {
      if (sidebar.classList.contains("d-none") || sidebar.classList.contains("d-sm-block")) {
        sidebar.classList.remove("d-none", "d-sm-block");
      } else {
        sidebar.classList.add("d-none", "d-sm-block");
      }
    }

    // Add a click event listener to the button
    sidebarToggle.addEventListener("click", toggleSidebar);

    // Add a click event listener to the close-aside icon to close the sidebar
    closeAside.addEventListener("click", function() {
      sidebar.classList.add("d-none", "d-sm-block");
    });
  });
</script>


